
// @font-face {
//     font-family: MuseoSans;
//     src: url(../fonts/MuseoSans/MuseoSansLight.woff);
//     font-style: normal;
//     font-weight:300
// }
// @font-face {
//     font-family: MuseoSans;
//     src: url(../fonts/MuseoSans/MuseoSansRegular.woff);
//     font-style: normal;
//     font-weight:400;
// }
@font-face {
    font-family: MuseoSans;
    src: url(../fonts/MuseoSans/MuseoSansCyrl-900.woff);
    font-style: normal;
    font-weight:900;
}
@font-face {
    font-family: MuseoSans;
    src: url(../fonts/MuseoSans/MuseoSansCyrl-500.woff);
    font-style: normal;
    font-weight:500;
}