.header {
    position: relative;
    z-index: 3;
    background: #fff;
    

    .wr {
        @media (max-width: 1000px) {
            padding: 0 30px;
        }
    }

    &.background {
        transition: 0.5s ease-in-out;

        @media (max-width: 1000px) {
            background: rgba(0,0,0,0.35);
        }
    }
}

.header__top {
    background-color: #1d1d1d;

    @media (max-width: 1000px) {
        display: none;
    }

    .header-top__content {
        display: flex;
        align-items: center;
    }

    .header__hint {
        margin-right: 24px;
        color: #ffed00;
        font-family: "Arial", sans-serif;
        font-size: 13px;
        font-weight: 700;

        @media (max-width: 1200px) {
            font-size: 11px;
        }
    }

    .headr__nav_list-top {
        display: flex; 
    }

    .header__link-top {
        font-family: 'Arial', sans-serif;
        padding: 7px 10px;
        color: #fff;
        font-size: 13px;
        transition: 0.2s ease-in-out;

        &:hover {
            background-color: #e10014;
        }

        @media (max-width: 1200px) {
            font-size: 14px;
            padding: 8px 6px;
            text-align: center;
        }
    }
}

.header__middle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 29px;
    padding-bottom: 15px;

    @media (max-width: 1000px) {
        justify-content: flex-start;
        padding-top: 20px;
        padding-bottom: 30px;
    }
    
    .logo {
        display: block; 
        width: 139px;

        @media (max-width: 1000px) {
            width: 112px;
            margin-left: 67px;
        }
    }

    .header__contacts {
        position: relative;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        max-width: 263px;

        @media (max-width: 1000px) {
            display: none;
        }

        &:before {
            content: '';
            position: absolute;
            left: -28px;
            top: 50%;
            transform: translateY(-50%);
            width: 17px;
            height: 28px;
            background: url(../img/phone_icon.svg) center no-repeat;
        }
    }

    .header__link {
        font-family: "Arial", sans-serif;
        font-size: 17px;
        

        &.call {
            color: #ed1c24;
            font-size: 14px;
            font-weight: 400;
            border-bottom: 1px dashed #ed1c24;
        }
    }
}

.header__bottom {
    width: calc(100% + 40px);
    margin-left: -20px;

    @media (max-width: 1000px) {
        display: none;
    }

    .header__nav_list-bottom {
        display: flex;
    }

    .header__link-bottom {
        position: relative;
        font-size: 17px;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: 1.46px;
        transition: 0.2s ease-in-out;

        .header__link-bottom-link {
            position: relative;
            display: block;
            padding: 18px 21px;
            transition: 0.2s ease-in-out;
            letter-spacing: 0.75px;

            &::before {
                content: '';
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                width: 1px;
                height: 13px;
                background-color: #b5b5b5;
            }

            @media (max-width: 1200px) {
                padding: 14px;
                font-size: 15px;
            }
        }

        &:hover {

           

            .header__link-bottom-link{
                background-color: #ed1c24;
                color: #ffffff;

                &:before {
                    display: none;
                }
            }
            .header__nav_sublist-bottom {
                opacity: 1;
                pointer-events: all;
            }
        }
    }

    .header__nav_sublist-bottom {
        position: absolute;
        z-index: 3;
        top: 56px;
        left: 0;
        min-width: 327px;
        border-top: 2px solid #ed1c24;
        background: #fff;
        opacity: 0;
        pointer-events: none;
        transition: 0.3s ease-in-out;
        padding: 10px 0;
        padding-top: 6px;
        
        @media (max-width: 1200px) {
            top: 46px;
        }

        .header__nav_sublist-bottom-link {
            position: relative;
            display: block;
            
            color: #1c1c1c;
            font-family: "Arial", sans-serif;
            font-size: 15px;
            font-weight: 400;
            transition: 0.2s ease-in-out;
            white-space: nowrap;
            letter-spacing: normal;
            text-transform: none;

            &:hover {
                color: #ed1c24;
                background-color: #f4f4f6;

                .header__nav_sublist-2-bottom {
                    opacity: 1;
                    pointer-events: all;
                }

                .with_sublist  {

                    &:before {
                        background: url(../img/arrow_next_small_hover.svg) center no-repeat;
                    }
                }
            }

            a {
                display: block;
            }

            .header__nav_sublist-bottom-link-a {
                position: relative;
                padding: 6px  29px 5px 20px;
            }
        }

        
    }

    .header__nav_sublist-2-bottom {
        position: absolute;
        top: -8px;
        left: 100%;
        border-top: 2px solid #ed1c24;
        padding: 30px 0 29px 0;
        background-color: #f4f4f6;
        opacity: 0;
        pointer-events: none;
        transition: 0.3s ease-in-out;

        .header__nav_sublist-2-bottom-link {
            display: block;
            color: #1c1c1c;
            font-family: "Arial", sans-serif;
            font-size: 15px;
            font-weight: 400;
            line-height: 28px;
            transition: 0.2s ease-in-out;
            white-space: nowrap;
            letter-spacing: normal;
            text-transform: none;
            

            &:hover {

                .header__nav_sublist-2-bottom-link-a {
                    color: #ed1c24;
                    background-color: #fff;
                }
                
            }
        }

        .header__nav_sublist-2-bottom-link-a {
            padding: 0 125px 0 31px;
            transition: 0.2s ease-in-out;
            line-height: 30px;
        }
    }

    .sublist_title {
        margin-bottom: 18px;
        color: #404040;
        font-size: 17px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.85px; 
        padding: 0 125px 0 31px;
    }
}

.with_sublist {
    position: relative;          

    &::before {
        content: '';
        position: absolute;
        top: 50%;
        right: 19px;
        transform: translateY(-50%);
        width: 6px;
        height: 10px;
        background: url(../img/arrow_next_small.svg) center no-repeat;
        transition: 0.2s ease-in-out;
        pointer-events: none;
    }
}

.menu_btn {
    position: absolute;
    z-index: 4;
    display: none;
    width: 32px;
    height: 19px;
    margin-top: 3px;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    margin-right: 34px;
    cursor: pointer;

    &.open {    
        top: 26px;
        right: -19px;
    }

    @media (max-width: 1000px) {
        display: block;
    }

    span {
        display: block;
        position: absolute;
        height: 3px;
        width: 100%;
        background-color: #4a4a56;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: .25s ease-in-out;
    }

    span:nth-child(1) {
    top: 0px;
    }
    
    span:nth-child(2), span:nth-child(3) {
    top: 9px;
    }
    
    span:nth-child(4) {
    top: 18px;
    }

    &.open span {
        background: #fff;
    }
    
    &.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
    }
    
    &.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    }
    
    &.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    }
    
    &.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
    }
}

.header__menu {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    width: 417px;
    padding: 20px 0 60px 32px;
    background: #fff;
    transform: translateX(-100%);
    transition: 0.5s ease-in-out;

    @media (max-width: 479px) {
        width: 81%;
        padding-left: 15px;
    }

    &.show {
        transform: translateX(0);
    }

    .logo {
        display: block;
        width: 112px;
        margin-bottom: 40px;
    }

    .menu__nav {
        margin-bottom: 65px;
        
        @media (max-width: 479px) {
            margin-bottom: 40px;
        }
        .menu__nav-list {

        }

        .menu__nav-item {
            margin-bottom: 35px;
            font-family: "MuseoSans", sans-serif;
            font-size: 22px;
            font-weight: 900;
            text-transform: uppercase;
            letter-spacing: 1.1px;
            
            @media (max-width: 479px) {
                font-size: 16px;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }

        
    }
    .menu__nav-item-a {
        display: block;
        padding-right: 40px;
        
        @media (max-width: 479px) {
            padding-right: 30px;
        }
    }

    .menu__extralinks {
        margin-bottom: 35px;

        @media (max-width: 479px) {
            margin-bottom: 15px;
        }

        .menu__extralinks-list {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            padding-right: 48px;
        }

        .menu__extralinks-item {
            min-width: 149px;
            margin-bottom: 30px;
            color: #1c1c1c;
            font-family: "Arial", sans-serif;
            font-size: 22px;
            font-weight: 400;

            @media (max-width: 479px) {
                font-size: 16px;
                min-width: 120px;
                margin-bottom: 20px;
            }
        }
    }

    .menu__contacts {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-right: 32px;

        .header__link {
            margin-bottom: 35px;
            color: #1c1c1c;
            font-family: "Arial", sans-serif;
            font-size: 26px;
            font-weight: 400;

            @media (max-width: 479px) {
                font-size: 20px;
                margin-bottom: 20px;
            }

            &.call {
                color: #ed1c24;
                font-size: 22px;
                border-bottom: 1px dashed #ed1c24;
                
                @media (max-width: 479px) {
                    font-size: 18px;
                }
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .menu_back {
        display: flex;
        align-items: center;
        padding: 27px 0;
        padding-left: 33px;
        background: #fff;
        color: #1c1c1c;
        font-family: "Arial";
        font-size: 22px;
        font-weight: 400;
        text-transform: none;

        &::before {
            content: '';
            display: block;
            width: 11px;
            height: 19px;
            margin-right: 28px;
            background: url(../img/menu_back.svg) center no-repeat;
        }
    }

    .menu-lvl {
        background-color: #f4f4f6;
        transition: 0.5s ease-in-out;

        &.show {
            transform: translateX(0);
        }

        .menu__title {
            margin-top: 33px;
            margin-bottom: 30px;
            padding-left: 30px;
            font-size: 22px;
            font-weight: 900;
            text-transform: uppercase;
            letter-spacing: 1.1px;

            @media (max-width: 479px) {
                margin: 15px 0;
                padding-left: 15px;
                font-size: 20px;
            }
        }
    }
    .menu-lvl__nav {
        padding: 0 0 40px 30px;

        @media (max-width: 479px) {
            padding-left: 15px;
            padding-bottom: 15px;
        }

        .menu__nav-item-a {
            padding: 12px 0;
            padding-right: 40px;
            color: #1c1c1c;
            font-family: "Arial";
            font-size: 22px;
            font-weight: 400;
            text-transform: none;

            @media (max-width: 479px) {
                padding-right: 30px;
                font-size: 16px;
            }
        }
    }

    .with_sublist {
        
        &:before {
            width: 11px;
            height: 19px;
            background: url(../img/menu_with_sublist_arrow.svg);
            
            @media (max-width: 479px) {
                right: 10px;    
            }
        }
    }
}
  
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
    opacity: 0;
    pointer-events: none;
    transition: 0.2s ease-in-out;

    &.active {
        opacity: 1;
        pointer-events: all;
    }
 }

.menu-lvl {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transform: translateX(-100%);
    width: 100%;
    min-height: 100%;
    background: #fff;
 }