.header {
    position: relative;
    z-index: 3;
    background: #fff;
}

.header__top {
    background-color: #1d1d1d;

    .header-top__content {
        display: flex;
        align-items: center;
    }

    .header__hint {
        margin-right: 24px;
        color: #ffed00;
        font-family: "Arial", sans-serif;
        font-size: 13px;
        font-weight: 700;
    }

    .headr__nav_list-top {
        display: flex; 
    }

    .header__link-top {
        font-family: 'Arial', sans-serif;
        padding: 8px 10px;
        color: #fff;
        transition: 0.2s ease-in-out;

        &:hover {
            background-color: #e10014;
        }
    }
}

.header__middle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 29px;
    padding-bottom: 21px;
    
    .logo {
        display: block; 
        width: 139px;
    }

    .header__contacts {
        position: relative;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        max-width: 263px;

        &:before {
            content: '';
            position: absolute;
            left: -28px;
            top: 50%;
            transform: translateY(-50%);
            width: 17px;
            height: 28px;
            background: url(../img/phone_icon.svg) center no-repeat;
        }
    }

    .header__link {
        font-family: "Arial", sans-serif;
        font-size: 17px;

        &.call {
            color: #ed1c24;
            font-size: 14px;
        }
    }
}

.header__bottom {
    width: calc(100% + 40px);
    margin-left: -20px;

    .header__nav_list-bottom {
        display: flex;
    }

    .header__link-bottom {
        position: relative;
        font-size: 17px;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: 1.46px;
        transition: 0.2s ease-in-out;

        .header__link-bottom-link {
            display: block;
            padding: 18px 21px;
            transition: 0.2s ease-in-out;
        }

        &:hover {

            .header__link-bottom-link{
                background-color: #ed1c24;
                color: #ffffff;
            }
            .header__nav_sublist-bottom {
                opacity: 1;
                pointer-events: all;
            }
        }
    }

    .header__nav_sublist-bottom {
        position: absolute;
        z-index: 3;
        top: 56px;
        left: 0;
        border-top: 2px solid #ed1c24;
        background: #fff;
        opacity: 0;
        pointer-events: none;
        transition: 0.3s ease-in-out;
        padding: 10px 0;

        .header__nav_sublist-bottom-link {
            position: relative;
            display: block;
            
            color: #1c1c1c;
            font-family: "Arial", sans-serif;
            font-size: 15px;
            font-weight: 400;
            transition: 0.2s ease-in-out;
            white-space: nowrap;
            letter-spacing: normal;
            text-transform: none;

            &:hover {
                color: #ed1c24;
                background-color: #f4f4f6;

                .header__nav_sublist-2-bottom {
                    opacity: 1;
                    pointer-events: all;
                }

                .with_sublist  {

                    &:before {
                        background: url(../img/arrow_next_small_hover.svg) center no-repeat;
                    }
                }
            }

            a {
                display: block;
            }

            .header__nav_sublist-bottom-link-a {
                position: relative;
                padding: 5px  29px 5px 20px;
            }
        }

        .with_sublist {

           

            &::before {
                content: '';
                position: absolute;
                top: 50%;
                right: 19px;
                transform: translateY(-50%);
                width: 6px;
                height: 10px;
                background: url(../img/arrow_next_small.svg) center no-repeat;
                transition: 0.2s ease-in-out;
                pointer-events: none;
            }
        }
    }

    .header__nav_sublist-2-bottom {
        position: absolute;
        top: -12px;
        left: 100%;
        border-top: 2px solid #ed1c24;
        padding: 34px 0 36px 0;
        background-color: #f4f4f6;
        opacity: 0;
        pointer-events: none;
        transition: 0.3s ease-in-out;

        .header__nav_sublist-2-bottom-link {
            display: block;
            color: #1c1c1c;
            font-family: "Arial", sans-serif;
            font-size: 15px;
            font-weight: 400;
            line-height: 28px;
            transition: 0.2s ease-in-out;
            white-space: nowrap;
            letter-spacing: normal;
            text-transform: none;
            

            &:hover {

                .header__nav_sublist-2-bottom-link-a {
                    color: #ed1c24;
                    background-color: #fff;
                }
                
            }
        }

        .header__nav_sublist-2-bottom-link-a {
            padding: 0 125px 0 31px;
            transition: 0.2s ease-in-out;
        }
    }

    .sublist_title {
        color: #404040;
        font-size: 17px;
        font-weight: 900;
        line-height: 40px;
        text-transform: uppercase;
        letter-spacing: 0.85px; 
        padding: 0 125px 0 31px;
    }
}


.menu_btn {
    position: relative;
    z-index: 4;
    display: none;
    width: 30px;
    height: 20px;
    position: relative;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;

    @media (max-width: 767px) {
        display: block;
    }

    span {
        display: block;
        position: absolute;
        height: 2px;
        width: 100%;
        background-color: #4a4a56;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: .25s ease-in-out;
    }

    span:nth-child(1) {
    top: 0px;
    }
    
    span:nth-child(2), span:nth-child(3) {
    top: 9px;
    }
    
    span:nth-child(4) {
    top: 18px;
    }
    
    &.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
    }
    
    &.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    }
    
    &.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    }
    
    &.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
    }
}
  
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
    opacity: 0;
    pointer-events: none;
    transition: 0.2s ease-in-out;

    &.active {
        opacity: 1;
        pointer-events: all;
    }
 }